{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>BRIGHT WIREDU - Portfolio</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  
  <link href="{% static 'assets/img/favicon.png'%}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png'%}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  
  <link href="{% static 'assets/vendor/aos/aos.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
  <link href=" {% static 'assets/vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css'%} " rel="stylesheet">

  <!-- Template Main CSS File -->

  <link href="  {% static 'assets/css/style.css'%}" rel="stylesheet">

</head>
<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        
        <img src="{% static 'assets/img/pro-img.jpg'%}" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Bright WIREDU</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="https://twitter.com/__nayar" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="https://www.facebook.com/profile.php?id=100009004431913" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="https://www.instagram.com/wiredubryte?igsh=MWtrb3RkcmZ2NzN0ZA%3D%3D&utm_source=qr" class="instagram"><i class="bx bxl-instagram"></i></a>
          <!--<a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>-->
          <a href="https://www.linkedin.com/in/bright-wiredu-nuakoh-b24b02214/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
          <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
          <li><a href="#services" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Services</span></a></li>
          <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Bright WIREDU</h1>
      <p>I'm <span class="typed" data-typed-items="Data Scientist,Django Developer, Mathematician, Python  Lover"></span></p>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
          <p>A dedicated data science student at AIMS Rwanda enthusiast with a deep-rooted love for Python.
             Armed with a degree in  Mathematics with Computer Science from University of Ghana, I bring a unique
              blend of analytical thinking and programming prowess to the world of data analysis. 
              Whether it's wrangling messy datasets, building predictive models, or uncovering insights,
               I thrive on the challenge of transforming data into meaningful decisions.
                I'm on a continuous journey of discovery, exploring the ever-evolving field of data science to
                 harness its power in solving real-world problems. I have extensive knowledge in web devlopment using
                 Django framework and also passionate about software development.</p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            
            <img src="{% static 'assets/img/pro-img.jpg'%}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Python Devoloper, Web Developer, Django Dev &amp; Mathematician.</h3>
            <p class="fst-italic">
              A young African aspiring to lead the tech industry in Africa within the next decade. Ambitious about providing innovative solutions to individuals in the world of technology.
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>13 June </span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>www.example.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+233 556 819 431 | +250 793 222 956</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Kigali,Rwanda</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>MSc. Data Scinece</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>bryteredunuako@gmail.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Web Dev:</strong> <span>Available</span></li>
                </ul>
              </div>
            </div>
            <p>
              I possess expertise in crafting responsive websites for diverse clients. My capability to bring clients' envisioned websites to life is exceptional, catering to individuals from various backgrounds and industries.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Facts Section ======= -->
    <section id="facts" class="facts">
      <div class="container">

        <div class="section-title">
          <h2>Achievements</h2>
          <p>Since embarking on my academic odyssey as a mathematician and computer scientist, I've woven a tapestry of impactful projects that enrich the realm of science. Each achievement, a stepping stone sculpting the essence of the man I've become, resonates with experiences ripe for sharing, inspiring others on their own quests. Join me as I unveil these milestones, each a beacon illuminating the path of potential and discovery.</p>
        </div>

        <div class="row no-gutters">

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="count-box">
              <i class="bi bi-journal-richtext"></i>
              <span data-purecounter-start="0" data-purecounter-end="10" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Projects</strong> Masterpiece of ingenuity and passion! </p>
            </div>
          </div>


          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="count-box">
              <i class="bi bi-people"></i>
              <span data-purecounter-start="0" data-purecounter-end="2" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Awards</strong> Life changing awards</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="count-box">
              <i class="bi bi-headset"></i>
              <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Hours Of Support</strong> My availability to assist you is a hallmark of my dedication.</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
            <div class="count-box">
              <i class="bi bi-emoji-smile"></i>
              <span data-purecounter-start="0" data-purecounter-end="0" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Happy Clients</strong> Sadly no Happy clients</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Facts Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Skills</h2>
          <p>
            Enter the domain of bytes and binaries, where I reign supreme as the computer scientist extraordinaire. From elegant algorithms to robust software solutions, I sculpt code like an artist, transforming abstract ideas into tangible reality.</p>
        </div>

        <div class="row skills-content">
          
          <div class="col-lg-6" data-aos="fade-up">
            <div class="progress">
              <span class="skill">Python <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">R <i class="val">70%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">HTML <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">CSS <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">LaTex <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

            <div class="progress">
              <span class="skill">Java <i class="val">70%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
          <p>Welcome to the realm of data wizardry, where algorithms bow to my command, and insights bend to my will. As a data scientist, I wield the power of probability like a sorcerer, conjuring actionable intelligence from the depths of raw data.

            Behold, for I am the mathematician, the architect of equations that shape the universe itself. With precision and finesse, I navigate the intricate realms of calculus, algebra, and beyond, crafting solutions to challenges others dare not fathom.</p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Sumary</h3>
            <div class="resume-item pb-0">
              <h4>Bright Wiredu </h4>
              <p><em>Proficient in harnessing the power of Python, Django, and data science to deliver innovative solutions that captivate audiences and drive engagement. From conceptualization to execution, I am committed to delivering polished, user-centered designs that exceed expectations and meet stringent deadlines.</em></p>
              <ul>
                <li>KN 3 Rd, Kigali</li>
                <li>+250 7932 22953</li>
                <li>bright.wiredu@aims.ac.rw</li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Master of Scineces In Data Science</h4>
              <h5>2023 - 2024</h5>
              <p><em>African Institute For Mathematical Science (AIMS) Rwanda</em></p>
              <p>Qui deserunt veniam. Et sed aliquam labore tempore sed quisquam iusto autem sit. Ea vero voluptatum qui ut dignissimos deleniti nerada porti sand markend</p>
            </div>
            <div class="resume-item">
              <h4>Bachelor of Scinece In Mathematics With Computer Scinece</h4>
              <h5>2018 - 2022</h5>
              <p><em>University Of Ghana</em></p>
              <p>Quia nobis sequi est occaecati aut. Repudiandae et iusto quae reiciendis et quis Eius vel ratione eius unde vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon sader mart dila</p>
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Projects And Researchs</h3>
            <div class="resume-item">
              <h4>Traffic Flow Analysis with Python </h4>
              <h5>June 2022 – Nov 2022</h5>
              <p><em>University Of Ghana, Undergraduate Thesis </em></p>
              <p>
                Final year project of which I studied the traffic flow of Legon bypass road during my 
                  undergraduate. The study concluded that the rush hour of Legon bypass road starts at about 
                    6:10am to about 8:30am
              </p>
            </div>
            <div class="resume-item">
              <h4>Solar System Simulation with Python  </h4>
              <h5>Oct. 2023</h5>
              <p><em>AIMS </em></p>
              <p>
                Simulated the solar system using mathematical tools such us as force of Gravity and 
                Newton’s second law. Python packages such ass matplotlib, numpy and Ursina was used for 
                the visualization of the simulation.
              </p>
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">RESEARCH INTEREST</h3>
            <div class="resume-item">
              <ul>
                <li>Computational Mathematics and Machine Learning</li>
                <li> Computer Vision an Robotics</li>
                <li>Mathematical Modeling</li>
                <li>Artificial Intelligence </li>
                <li>Data mining and Big Data Analysis </li>
                <li>Software Development Methodology</li>
                <li> Data Ethics and Privacy </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">LEADERSHIP</h3>
            <div class="resume-item">
              <h4>Vice President</h4>
              <h5>2022 - 2022</h5>
              <p><em>University Of Ghana, Mathematic Department (TMS) </em></p>
              <ul>
                <li>Mobilized students at my department to embark on an educational tour to other universities</li>
                <li>Organized events and invited notable speakers to give lectures on math applications and 
                  other related subjects </li>
                <li>Organized a weekly math quiz for the students and awarded the winning team with books and 
                  stationery</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Co-Head for Solution Space Committee</h4>
              <h5>2020 - 2021</h5>
              <p><em>The Mathematics Society University of Ghana </em></p>
              <ul>
                <li>Aided colleagues in classes they were struggling with.
                  </li>
                <li>Helped classmates and other students in our department primarily freshmen, access 
                  resources for study</li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Teaching Assistant</h4>
              <h5>Nov 2022 -September 2023</h5>
              <p><em>University of Ghana, Mathematics Department </em></p>
              <ul>
                <li>Prepared lectures slide for my supervisors using Latex.</li>
                <li> Assisted students with tutorials that helped reinforced the concepts taught in class.</li>
                <li> Mentored few students in their programing journey.</li>
                <li> Taught students the basics of python and how to use Python Django to create website.</li>
                <li>  Was involved in research in the department.</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Full Life Basics School Intern</h4>
              <h5>June – August 2019</h5>
              <p><em> Prestea, Western Region </em></p>
              <ul>
                <li> Taught Mathematics and ICT at the junior high and primary level, making the learning of 
                  mathematics a more enjoyable experience for the students.
                  </li>
                <li> Provided education to the students about the advancements in technology in today's modern 
                  era.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Portfolio</h2>
          <p>Welcome to my portfolio, where creativity meets functionality. As a passionate Data scinetist and a Developer, I am thrilled to showcase my journey, skills, and projects. From innovative designs to impactful solutions, each piece reflects my dedication to excellence and my commitment to pushing boundaries. Explore, engage, and witness the fusion of artistry and expertise. Thank you for joining me on this exploration of possibilities. Let's embark on this journey together.</p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-card">PRO</li>
              <li data-filter=".filter-web">Web</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              
              <img src=" {% static 'assets/img/portfolio/app1.png'%}" class="img-fluid" alt="">
              <div class="portfolio-links">
               
                <a href=" {% static 'assets/img/portfolio/app1.png'%}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              
              <img src=" {% static 'assets/img/portfolio/web2.png'%}" class="img-fluid" alt="">
              <div class="portfolio-links">
               
                <a href=" {% static 'assets/img/portfolio/web2.png'%}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details2.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
         
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              
              <img src="{% static 'assets/img/portfolio/app2_u.png'%}" class="img-fluid" alt="">
              <div class="portfolio-links">
                
                <a href="{% static 'assets/img/portfolio/app2_u.png'%}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
          
          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              
              <img src="{% static 'assets/img/portfolio/web3.webp'%}" class="img-fluid" alt="">
              <div class="portfolio-links">
                
                <a href="{% static 'assets/img/portfolio/web3.webp'%}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details3.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              
              <img src="{% static 'assets/img/portfolio/pro-img.png'%}" class="img-fluid" alt="">
              <div class="portfolio-links">
                
                <a href="{% static 'assets/img/portfolio/pro-img.png'%}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details2.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
          <!--
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="assets/img/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
          -->
          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              
              <img src="{% static 'assets/img/portfolio/pro-1.jpg'%}" class="img-fluid" alt="">
              <div class="portfolio-links">
                
                <a href="{% static 'assets/img/portfolio/pro-1.jpg'%}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details3.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              
              <img src="{% static 'assets/img/portfolio/pro-2.jpg'%}" class="img-fluid" alt="">
              <div class="portfolio-links">
                
                <a href="{% static 'assets/img/portfolio/pro-2.jpg'%}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details3.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              
              <img src="{% static 'assets/img/portfolio/web3.webp'%}" class="img-fluid" alt="">
              <div class="portfolio-links">
                
                <a href="{% static 'assets/img/portfolio/web3.webp'%}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details2.html" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Services Offered</h2>
          <p>Dive into a world where versatility reigns supreme. As your personal "Jack of all trades," I offer a dynamic range of skills and services to meet your diverse needs. From creative design to strategic problem-solving, I thrive on the challenge of mastering new domains. With a blend of adaptability and expertise, I am your go-to resource for tackling any task with finesse and efficiency. Let's collaborate and transform ideas into reality. Together, we'll achieve greatness across every spectrum.</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="bi bi-bar-chart"></i></div>
            <h4 class="title"><a href="">Data Analysis</a></h4>
            <p class="description">Uncover insights and make informed decisions with advanced data analysis. From crunching numbers to visualizing trends, I provide comprehensive analysis to drive your business forward.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="bi bi-tablet"></i></div>
            <h4 class="title"><a href="">App Development</a></h4>
            <p class="description">Bring your ideas to life with custom app development services. From concept to deployment, I specialize in creating user-friendly and feature-rich applications that resonate with your audience.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
            <div class="icon"><i class="bi bi-book"></i></div>
            <h4 class="title"><a href="">Math Assistance</a></h4>
            <p class="description">Navigate the complexities of mathematics with ease. Whether it's homework help, tutoring, or problem-solving, count on me to simplify concepts and guide you towards mastery in mathematics.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bi bi-file-earmark-code"></i></div>
            <h4 class="title"><a href="">Typesetting with LaTeX</a></h4>
            <p class="description">Precision meets elegance with LaTeX typesetting. Let me transform your documents into polished works of art, ensuring clarity and professionalism every step of the way.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
            <div class="icon"><i class="bi bi-laptop"></i></div>
            <h4 class="title"><a href="">Web Development</a></h4>
            <p class="description">Shape your digital footprint with bespoke web development solutions. Leveraging cutting-edge technologies and best practices, I craft responsive and scalable websites that not only captivate visitors but also drive meaningful engagement and results.</p>
          </div>
          <!-- 
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
            <div class="icon"><i class="bi bi-calendar4-week"></i></div>
            <h4 class="title"><a href="">Eiusmod Tempor</a></h4>
            <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
          </div>
            -->
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Testimonials Speak Volumes</h2>
          <p>Step into the realm of satisfied clients and glowing feedback. My journey is defined by the experiences and words of those I've had the pleasure to serve. Don't just take my word for it—explore the testimonials of delighted clients who have experienced firsthand the quality, dedication, and excellence I bring to every project. From transforming visions into reality to exceeding expectations, these testimonials are a testament to my unwavering commitment to client satisfaction. Join the chorus of voices echoing the success stories and let's create something remarkable together.</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{% static 'assets/img/testimonials/testimonials-1.jpg'%}" class="testimonial-img" alt="">
                <h3>Saul Goodman</h3>
                <h4>Ceo &amp; Founder</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up" data-aos-delay="100">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{% static 'assets/img/testimonials/testimonials-2.jpg'%}" class="testimonial-img" alt="">
                <h3>Sara Wilsson</h3>
                <h4>Designer</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up" data-aos-delay="200">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{% static 'assets/img/testimonials/testimonials-3.jpg'%}" class="testimonial-img" alt="">
                <h3>Jena Karlis</h3>
                <h4>Store Owner</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up" data-aos-delay="300">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{% static 'assets/img/testimonials/testimonials-4.jpg'%}" class="testimonial-img" alt="">
                <h3>Matt Brandon</h3>
                <h4>Freelancer</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up" data-aos-delay="400">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{% static 'assets/img/testimonials/testimonials-5.jpg'%}" class="testimonial-img" alt="">
                <h3>John Larson</h3>
                <h4>Entrepreneur</h4>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Connect with Ease</h2>
          <p>Ready to take the next step? Don't hesitate to reach out! Whether you have a question, a project idea, or simply want to say hello, I'm here and eager to connect. Drop me a line via email, give me a call, or reach out through social media. Let's start a conversation and explore the possibilities together. Your message is the first step towards turning ideas into reality. I look forward to hearing from you!</p>
        </div>

        <div class="row" data-aos="fade-in">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>KN 3 Rd, Kigali</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>bright.wiredu@aims.ac.rw</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+250 7932 22953</p>
              </div>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3353.0586126673875!2d30.11104474255999!3d-1.96122129738307!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x19dca7ab4bd14829%3A0x90e6d0a036081806!2sAfrican%20Institute%20of%20Mathematical%20Sciences%20Rwanda!5e0!3m2!1sen!2srw!4v1708658040008!5m2!1sen!2srw" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
              <iframe src="" ></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            
            <form action="{% url 'home' %}" method="post" role="form" class="php-email-form">
              {% csrf_token %}
              <div class="row">
                <div class="section-head">
                  <h2> Let's Get In Touch </h2>
                  <div class="line"></div>
              </div>
              {% if errors %}
              {% for err in errors %}
              <div class="alert alert-icon alert-danger text-danger alert-dismissible fade show" role="alert">
                  <strong><i class="bi bi-exclamation-triangle"></i>
                  {{err}}</strong>
              </div>
              {% endfor %}
              {% endif %}

              {% if success %}
              {% for err in success %}
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong><i class="bi bi-check-circle"></i>
                 {{err}}</strong>
            </div>
              {% endfor %}
              {% endif %}
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" required>
              </div>
              <div class="form-group">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; <script>document.write(new Date().getFullYear())</script> Bright's Portfoio
      </div>
      <div class="credits">
        Designed by <a href="https://bootstrapmade.com/">Bright</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
 

  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src=" {% static 'assets/vendor/purecounter/purecounter_vanilla.js'%}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js'%}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src=" {% static 'assets/vendor/glightbox/js/glightbox.min.js'%}"></script>
  <script src=" {% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js'%}"></script>
  <script src="  {% static 'assets/vendor/typed.js/typed.umd.js'%}"></script>
  <script src="{% static 'assets/vendor/waypoints/noframework.waypoints.js'%}"></script>
  <!-- <script src="{% static 'assets/vendor/php-email-form/validate.js'%}"></script>-->
  
  <!-- Template Main JS File -->
  <script src=" {% static 'assets/js/main.js'%}"></script>
  
  {% if errors or success %}
 <script>
  $(document).ready(function(){
      // Scroll to the element with id="contact" on page load
      $('html, body').animate({
          scrollTop: $('#contact').offset().top
      }, 'slow');
  });
  </script>
  {% endif %}

</body>

</html>